on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 18.x
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.13"
    - name: Setup NPM
      run: |
        npm install
        npm run compile
    - name: Setup cfn-lint
      run: |
        pip install cfn-lint
        pip install pydot
    - run: npm run lint
    - run: npm run prettier
      if: runner.os == 'Linux'
    - run: xvfb-run -a npm run test
      if: runner.os == 'Linux'
    - run: npm run test
      if: runner.os != 'Linux'
